<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/portfolio.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <title>Jamie Olsen Portfolio</title>
</head>
<body>
<section class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../img/dev_logo.png" class="header_logo">
        </div>
        <div class="col-md-6">
            <div class="name_and_title_div text_align_and_upper">
                <h1 class="header_name">
                    Jamie Olsen
                </h1>
                <p class="header_job_title align-right">
                    Front-end ninja!
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="spacer">
        </div>

    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="../img/main_pic_mini.jpg">
        </div>
    </div>
</section>
</div>

<section class="container">
    <section class="col-md-12 ">
        <h2 class="featured_work_text">Featured Work</h2>
    </section>
</section>

<section class="container">

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption text-center">
                        <img class="thumbnail-image" src="../img/appify.png" class="">
                    <h3>Android</h3>
                    <p><a href="https://github.com/jolsendev/PopularMovies">https://github.com/jolsendev/PopularMovies</a> </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption text-center">
                    <img class="thumbnail-image" src="../img/sunflower.png" class="">
                    <h3>School</h3>
                     <p><a href="https://github.com/jolsendev/UdacityFullStackCourse">https://github.com/jolsendev/UdacityFullStackCourse</a> </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption text-center">
                    <img class="thumbnail-image" src="../img/bokeh.png" class="">
                    <h3>Web Development</h3>
                    <p><a href="https://github.com/jolsendev/UdacityFullStackCourse">https://github.com/jolsendev/UdacityFullStackCourse</a> </p>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>