<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/portfolio.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <title>Jamie Olsen Portfolio</title>
</head>
<body>
<section class="container">
    <div class="row">
        <div class="col-md-6">
            <!--    height: 75px;
    width: 75px;
    background-image: url("../img/udacity_logo.svg");
    background-size: cover;
    border:hidden;
    float:left;-->
            <div class="header_logo"></div>
        </div>
        <div class="col-md-6">
            <div class="name_and_title_div text_align_and_upper">
                <h1 class="header_name">
                    Jamie Olsen
                </h1>
                <p class="header_job_title align-right">
                    Front-end ninja!
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="spacer">
        </div>

    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="../img/main_pic_mini.jpg">
        </div>
    </div>
</section>
</div>

<section class="container">
    <section class="col-md-12 ">
        <h2 class="featured_work_text">Featured Work</h2>
    </section>
</section>

<section class="container">

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption text-center">
                    <!--image-->
                        <img class="thumbnail-image" src="../img/appify.png" class="">
                    <!--title-->
                    <h3>Udacity Projects</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption text-center">
                    <!--image-->
                    <img class="thumbnail-image" src="../img/sunflower.png" class="">
                    <!--title-->
                    <h3>Udacity Projects</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption text-center">
                    <!--image-->
                    <img class="thumbnail-image" src="../img/bokeh.png" class="">
                    <!--title-->
                    <h3>Udacity Projects</h3>
                </div>
            </div>
        </div>
    </div>

</section>
<!--<section class="container">-->
<!--<article class="col-md-4">-->
<!--&lt;!&ndash;image&ndash;&gt;-->
<!--<img src="../../img/repository.png">-->
<!--&lt;!&ndash;title&ndash;&gt;-->
<!--<h3>Udacity Projects</h3>-->
<!--</article>-->

<!--<article class="col-md-4">-->
<!--<img src="../../img/github_image.png">-->
<!--&lt;!&ndash;title&ndash;&gt;-->
<!--<h3>School Projects</h3>-->
<!--</article>-->

<!--<article class="col-md-4">-->
<!--<img src="../../img/moviejpg.jpg">-->
<!--&lt;!&ndash;title&ndash;&gt;-->
<!--<h3>Movie App Projects</h3>-->
<!--</article>-->
<!--</section>-->

</body>
</html>