<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/portfolio.css">
    <link rel="stylesheet" media="screen and (max-width: 800px)" href="../css/media.css" />
    <title>Jamie Olsen Portfolio</title>
</head>
<body>
<header class="header">
    <div class="header_inner full_screen_width">
        <div class="header_logo"></div>
        <div class="name_and_title_div text_align_and_upper">
            <h1 class="header_name">
                Jamie Olsen
            </h1>
            <p class="header_job_title text_align_and_upper">
                Front-end ninja!
            </p>
        </div>
    </div>

    <hr class="full_screen_width">
</header>
<section class="image_section full_screen_width">
    <img  class="image">
</section>
<section class="featured_work">
    <article class="android_movie_project"></article>
    <article class="school_projects"></article>
    <article class="udemy_projects"></article>
</section>
<!--create header with logo, name, title-->
<!--large image-->
<!--featured work examples 3 (android git links)-->
<!--<header>, <footer>, <article>, <section>-->
<!--No <div> or <section> tags are without a CSS class or id.-->
<!--Provide at least one of the following customizations:

Customize images and text.
Customize placement of the elements on the page (grid layout) with HTML, CSS or both.
Customize CSS styles applied at minimum to paragraph and heading elements.

-->

<!--An image's associated title and text renders next to the image in all viewport sizes.-->
</body>
</html>