.full_screen_width{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color:green;
}

.article_container_div{
    display:flex;
    flex-wrap:wrap;
}