
.header_name{
    margin-bottom: 0px;
}

.header_job_title{
    margin-top: 0px;
}
.header_logo{
    height: 75px;
    width: 75px;
    background-image: url("../../img/udacity_logo.svg");
    background-size: cover;
    border:hidden;
    float:left;
}

.text_align_and_upper{
    text-align: right;
    text-transform: uppercase;
    color:#2d3c49;
}

.image{
    position: relative;
    background-image: url("../../img/network_image.jpg");
    background-size: cover;
    width: 800px;
    height: 400px;
}

.name_and_title_div{
    float:right;
}

.full_screen_width{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

hr {
    display: block;
    border: 0;
    border-top: 3px solid #7d97ad;
    padding: 0;
    clear:both;
}

.featured_work_text{
    color:#7d97ad;
}